body{
	background-color:#e0e0d1;
	
	margin:auto;
	
}
@media(max-width:768px){
	.header h1{
		text-align:center;
	}
	
	.navbar button{
		position:fixed;
		top:0;
		left:0;
	}
}
.header{
	width:100%;
	margin:auto;
}
.header h1{
	font-family:baumans;
	color:#ff6600;
}
.navbar{
	background-color:#e0e0d1;
	border:1px solid #e0e0d1;
}
.item img{
	max-height:400px;
	width:100%;
}
.carousel-caption{
	text-align:left;
	bottom:70px;
	
}
.item h3{
	background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px 0px;
    width: 225px;
    font-size: 30px;
}
.item p{
	color:black;
	background-color:#e0e0d1;
	width: 300px;
    border-radius: 5px;
    text-shadow: none;
    font-size: 18px;
    padding: 4px;
}
.form-control{
	width: 70%;
	display:inline-block;
	float:left;
}
#search{
	background-color:#ff6600;
	min-height:60px;
	padding-top:20px;
	
}
#search p{
	float:right;
}
.btn{
	background-color:black;
	color:white;
}
#icons{
	width:80%;
	margin:auto;
	padding-top:45px;
}
i{
	float:right;
}
#i1,#i2,#i3{
	padding-top:15px;
}
#photos{
	width:80%;
	margin:auto;
}
#photos img{
	width:90%;
	height:125px;
	margin:auto;
	
}